<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>mainpage</title>
</head>
<body>
    <h1> 휴학 일기... ~ </h1>
    <div id="grid">
            <ul>
                <li><a href="concert.html">misSioN 1</a></li>
                <li><a href="jeju.html">misSioN 2</a></li>
            </ul>
        <div>
            <h3>Bucketlist.</h3>
            <div id="checklist">
                <input type="checkbox" id="check1" name="check1" checked />
                <label for="check1">콘서트 가기</label>
                <input type="checkbox" id="check2" name="check2" checked />
                <label for="check2">혼자 국내 여행!</label>
                <input type="checkbox" id="check3" name="check3">
                <label for="check3">혼자 해외 여행!!</label>
                <input type="checkbox" id="check4" name="check4">
                <label for="check4">토익...</label>
                <input type="checkbox" id="check5" name="check5">
                <label for="check5">JLPT...</label>
            </div>
        </div>
    </div>
</body>
</html>